<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container" style="text-align: center">
    <main style="height: 100%">
      <div margin="0 auto" width="100%" style="font-size: 2em; padding: 5%">404</div>
      <p>Your page is not found..</p>
      Go <a href="/">Home</a> instead
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
