<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
      <main height="100%">
          <div margin="0 auto">404</div>
          <p>Your page is not found</p>
      </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
