<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <div class="panel">
      <div class="dial">
        <div class="brightness">
          <span id="brightness"></span>
        </div>
      </div>
      <div class="control">
        <div class="toggle">
          <label class="switch-wrap">
            <!-- <p>Toggle</p> -->
            <input
                type="checkbox"
                id="toggle"
                name="toggle"
                value="checked"
              />
            <div class="switch"></div>
          </label>
        </div>
        <div class="slider">
          <p>Brightness</p>
          <input
            type="range"
            min="0"
            max="1023"
            value="500"
            id="slider"
          />
        </div>
      </div>
    </div>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
