html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Comfortaa";
  background-color: #f0efff;
  transition: background 0.2s ease;
}

body * {
  transition: box-shadow 0.2s ease;
  color: #3e4c5a;
}

body.dark {
  background-color: #17222c;
}
body.dark * {
  color: #aeafb0;
}
/* =====The Layout===== */
.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  flex: 3;
  display: flex;
}
header .text {
  margin: auto;
  padding: 0 5vw;
  flex: 7;
  /* comment the line below */
  /* background-color: #6f6d81; */
}
header .theme {
  margin: auto;
  flex: 1;
}

.panel {
  flex: 20;
  display: flex;
  flex-direction: column;
  border-radius: 5vw;
  padding: 5vw;
  margin: 0 5vw;
  box-shadow: inset 8px 8px 8px #c0bfcc, inset -8px -8px 8px #ffffff;
  justify-content: center;
  /* comment the line below */
  /* background-color: #6f6d81; */
}

body.dark .panel {
  box-shadow: inset 8px 8px 8px #121b23, inset -8px -8px 8px #1c2935;
}
/* ====Ordering==== */
.panel .control {
  text-align: center;
  order: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.panel .dial {
  order: 0;
  flex: 1;
}

.panel .dial .brightness {
  margin: auto;
  position: relative;
  width: 30vw;
  height: 30vw;
  max-width: 12rem;
  max-height: 12rem;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(145deg, #d8d7e6, #ffffff);
  box-shadow: 5px 5px 10px #c2c2cf, -5px -5px 10px #ffffff;
}

body.dark .panel .dial .brightness {
  background: linear-gradient(145deg, #151f28, #19242f);
  box-shadow: 10px 10px 20px #121b23, -10px -10px 20px #1c2935;
}
.panel .dial .brightness #brightness {
  font-family: "Poppins";
  font-size: 2rem;
  color: #3e4c5a;
  display: block;
  margin: auto;
  padding-top: 0.15em;
}
body.dark .panel .dial .brightness #brightness {
  color: #aeafb0;
}

.panel .control .toggle {
  flex: 1;
}
.panel .control .slider {
  flex: 1;
}

footer {
  flex: 1;
  text-align: center;
}
footer * {
  color: #6f7275 !important;
}

/* =====Button Styling===== */
.switch-wrap {
  display: block;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  border-radius: 30rem;
  box-shadow: inset 6px 6px 6px #cecece, inset -6px -6px 6px #f2f2f2;
}
body.dark .switch-wrap {
  box-shadow: inset 6px 6px 3px #131c24, inset -6px -6px 3px #1b2834;
}
.switch-wrap input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: 0.2s;
}
.switch::after {
  content: "";
  border-radius: 50%;
  background-color: #1c2a36;
  background-image: url("../assets/Icon\ feather-moon.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2;
  transition: background 0.2s;
}

input:checked + .switch {
  grid-template-columns: 1fr 1fr 0fr;
}
input:checked + .switch::after {
  background-color: #f0efff;
  background-image: url("../assets/Icon\ feather-sun.svg");
}

/* =====Responsiveness===== */
@media only screen and (min-width: 680px) {
  .panel {
    flex-direction: row;
  }
  .panel .dial {
    order: 2;
  }
}
