html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Comfortaa";
  background-color: #f0efff;
  transition: background 0.5s ease;
}
body * {
  color: #000000;
  background-color: #f0efff;
  transition: background 0.5s ease;
}

body.dark {
  background-color: #17222c;
}
body.dark * {
  color: #ffffff;
  background-color: #17222c;
}
/* =====The Layout===== */
.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  flex: 3;
  display: flex;
}
header .text {
  margin: auto;
  padding: 0 5vw;
  flex: 7;
  /* comment the line below */
  /* background-color: #6f6d81; */
}
header .theme {
  margin: auto;
  flex: 1;
}

.panel {
  flex: 20;
  display: flex;
  border-radius: 5vw;
  padding: 5vw;
  margin: 0 5vw;

  /* comment the line below */
  /* background-color: #6f6d81; */
}
/* ====Ordering==== */
.panel .control {
  order: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.panel .dial {
  order: 2;
  flex: 1;
}

.panel .control .toggle {
  flex: 1;
}
.panel .control .slider {
  flex: 1;
}

footer {
  flex: 1;
  text-align: center;
}
footer * {
  color: #6f7275 !important;
}

/* =====Button Styling===== */

/* .switch-wrap {
  cursor: pointer;
  background: #15273b;
  padding: 7px;
  width: 120px;
  height: 67px;
  border-radius: 33.5px;
}
.switch-wrap input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: 0.2s;
}
.switch::after {
  content: "";
  border-radius: 50%;
  background: #ccc;
  grid-column: 2;
  transition: background 0.2s;
}

/* input:checked + .switch {
  grid-template-columns: 1fr 1fr 0fr;
}
input:checked + .switch::after {
  background-color: #52cf71;
} */
